@using Yoti.Auth.DocScan.Session.Retrieve.Resource;
@model Yoti.Auth.DocScan.Session.Retrieve.GetSessionResult

@{
    ViewData["Title"] = "Success";
    ViewBag.sessionId = Model.SessionId;
}
<div class="container mb-3">
    <div class="row">
        <div class="col">
            <h1>Get Session Result</h1>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Session ID</td>
                        <td>@Model.SessionId</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>
                            <span class="badge badge-@(Model.State == "COMPLETED" ? "success" : "secondary")">
                                @Model.State
                            </span>
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.ClientSessionToken))
                    {
                        <tr>
                            <td>Client Session Token</td>
                            <td>
                                @Model.ClientSessionToken
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>Client Session Token TTL</td>
                        <td>@Model.ClientSessionTokenTtl</td>
                    </tr>
                    <tr>
                        <td>User Tracking ID</td>
                        <td>@Model.UserTrackingId</td>
                    </tr>
                    @if (Model.BiometricConsentTimestamp != null)
                    {
                        <tr>
                            <td>Biometric Consent Timestamp</td>
                            <td>@Model.BiometricConsentTimestamp.ToString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col">
            <h2>Identity Result Error</h2>
        </div>
    </div>

    @if (Model.IdentityProfile.FailureReason.ReasonCode != null)
    {
    <table class="table table-striped table-light">
        <tbody>
        <tr>
            <td>Reason Code</td>
            <td>@Model.IdentityProfile.FailureReason.ReasonCode</td>
        </tr>
        <tr>
            <td>Failure Type</td>
            <td>@Model.IdentityProfile.FailureReason.RequirementNotMetDetails.FailureType</td>
        </tr>
        <tr>
            <td>Details</td>
            <td>@Model.IdentityProfile.FailureReason.RequirementNotMetDetails.Details</td>
        </tr>
        <tr>
            <td>Audit Id</td>
            <td>@Model.IdentityProfile.FailureReason.RequirementNotMetDetails.AuditId</td>
        </tr>
        <tr>
            <td>Country ISO Code</td>
            <td>@Model.IdentityProfile.FailureReason.RequirementNotMetDetails.DocumentCountryIsoCode</td>
        </tr>
        <tr>
            <td>Document Type</td>
            <td>@Model.IdentityProfile.FailureReason.RequirementNotMetDetails.DocumentType</td>
        </tr>
        </tbody>
    </table>
    }
    
    @if (Model.Checks != null && Model.Checks.Count > 0)
    {
        <div class="row pt-4">
            <div class="col">
                <h2>Checks</h2>

                <div class="accordion mt-3" id="checks">

                    @if (Model.GetAuthenticityChecks().Count > 0)
                    {
                        <div class="card">
                            <div class="card-header" id="authenticity-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-authenticity-checks" aria-expanded="true"
                                            aria-controls="collapse-authenticity-checks">
                                        Authenticity Checks
                                    </button>
                                </h3>
                            </div>

                            <div id="collapse-authenticity-checks" class="collapse" aria-labelledby="authenticity-checks">
                                <div class="card-body">
                                    @foreach (var check in Model.GetAuthenticityChecks())
                                    {
                                        @await Html.PartialAsync("_Check", check)
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.GetIdDocumentTextDataChecks().Count > 0)
                    {
                        <div class="card">
                            <div class="card-header" id="text-data-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-text-data-checks" aria-expanded="true"
                                            aria-controls="collapse-text-data-checks">
                                        Identity Document Text Data Checks
                                    </button>
                                </h3>
                            </div>

                            <div id="collapse-text-data-checks" class="collapse" aria-labelledby="text-data-checks">
                                <div class="card-body">
                                    @foreach (var check in Model.GetIdDocumentTextDataChecks())
                                    {
                                        @await Html.PartialAsync("_Check", check)
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.GetFaceMatchChecks().Count > 0)
                    {
                        <div class="card">
                            <div class="card-header" id="face-match-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-face-match-checks" aria-expanded="true"
                                            aria-controls="collapse-face-match-checks">
                                        FaceMatch Checks
                                    </button>
                                </h3>
                            </div>

                            <div id="collapse-face-match-checks" class="collapse" aria-labelledby="face-match-checks">
                                <div class="card-body">
                                    @foreach (var check in Model.GetFaceMatchChecks())
                                    {
                                        @await Html.PartialAsync("_Check", check)
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.GetLivenessChecks().Count > 0)
                    {
                        <div class="card">
                            <div class="card-header" id="liveness-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-liveness-checks" aria-expanded="true"
                                            aria-controls="collapse-liveness-checks">
                                        Liveness Checks
                                    </button>
                                </h3>
                            </div>

                            <div id="collapse-liveness-checks" class="collapse" aria-labelledby="liveness-checks">
                                <div class="card-body">
                                    @foreach (var check in Model.GetLivenessChecks())
                                    {
                                        @await Html.PartialAsync("_Check", check)
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.GetIdDocumentComparisonChecks().Count > 0)
                    {
                        <div class="card">
                            <div class="card-header" id="comparison-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-comparison-checks" aria-expanded="true"
                                            aria-controls="collapse-comparison-checks">
                                        ID Document Comparison Checks
                                    </button>
                                </h3>
                            </div>
                            <div id="collapse-comparison-checks" class="collapse" aria-labelledby="comparison-checks">
                                <div class="card-body">
                                    @foreach (var check in Model.GetIdDocumentComparisonChecks())
                                    {
                                        @await Html.PartialAsync("_Check", check)
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.GetSupplementaryDocTextDataChecks().Count > 0)
                    {
                        <div class="card">
                            <div class="card-header" id="sup-text-data-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-sup-text-data-checks" aria-expanded="true"
                                            aria-controls="collapse-sup-text-data-checks">
                                        Supplementary Document Text Data Checks
                                    </button>
                                </h3>
                            </div>
                            <div id="collapse-sup-text-data-checks" class="collapse" aria-labelledby="sup-text-data-checks">
                                <div class="card-body">
                                    @foreach (var check in Model.GetSupplementaryDocTextDataChecks())
                                    {
                                        @await Html.PartialAsync("_Check", check)
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.GetThirdPartyIdentityChecks().Count > 0)
                    {
                        <div class="card">
                            <div class="card-header" id="third-party-identity-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-third-party-identity-checks" aria-expanded="true"
                                            aria-controls="collapse-third-party-identity-checks">
                                        Third Party Identity Checks
                                    </button>
                                </h3>
                            </div>
                            <div id="collapse-third-party-identity-checks" class="collapse" aria-labelledby="third-party-identity-checks">
                                <div class="card-body">
                                    @foreach (var check in Model.GetThirdPartyIdentityChecks())
                                    {
                                        @await Html.PartialAsync("_Check", check)
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.GetThirdPartyIdentityFraudOneChecks().Count > 0)
                    {
                        <div class="card">
                            <div class="card-header" id="third-party-identity-fraud-one-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-third-party-identity-fraud-one-checks" aria-expanded="true"
                                            aria-controls="collapse-third-party-identity-fraud-one-checks">
                                        Third Party Identity Fraud Checks
                                    </button>
                                </h3>
                            </div>
                            <div id="collapse-third-party-identity-fraud-one-checks" class="collapse" aria-labelledby="third-party-identity-fraud-one-checks">
                                <div class="card-body">
                                    @foreach (var check in Model.GetThirdPartyIdentityFraudOneChecks())
                                    {
                                        @await Html.PartialAsync("_Check", check)
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.GetWatchlistScreeningChecks().Count > 0)
                    {
                        <div class="card">
                            <div class="card-header" id="watchlist-screening-checks">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse-watchlist-screening-checks" aria-expanded="true"
                                            aria-controls="collapse-watchlist-screening-checks">
                                        Watchlist Screening Checks
                                    </button>
                                </h3>
                            </div>
                            <div id="collapse-watchlist-screening-checks" class="collapse" aria-labelledby="watchlist-screening-checks">
                                <div class="card-body">
                                    @foreach (var check in Model.GetWatchlistScreeningChecks())
                                    {
                                        @await Html.PartialAsync("_Check", check)
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.IdentityProfilePreviewResponse != null && Model.IdentityProfilePreviewResponse.Media != null)
                    {
                        <div class="row pt-4">
                            <div class="col">
                                <h2>Identity Profile Preview</h2>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col">
                                <table class="table table-striped table-light">
                                    <tbody>
                                        <tr>
                                            <td>ID</td>
                                            <td>
                                                <a href="/media/@Model.IdentityProfilePreviewResponse.Media.Id/@Model.SessionId">
                                                    @Model.IdentityProfilePreviewResponse.Media.Id
                                                </a>
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        if (Model.Resources.IdDocuments != null && Model.Resources.IdDocuments.Count > 0)
        {
            <div class="row pt-4">
                <div class="col">
                    <h2>ID Documents</h2>
                </div>
            </div>
        }

        for (var idDocIndex = 0; idDocIndex < Model.Resources.IdDocuments.Count; idDocIndex++)
        {
            IdDocumentResourceResponse document = Model.Resources.IdDocuments[idDocIndex];
            <div class="row pt-4">
                <div class="col">
                    <h3>@document.DocumentType<span class="badge badge-primary">@document.IssuingCountry</span></h3>
                    <div class="accordion mt-3">
                        @if (document.DocumentFields != null)
                        {
                            <div class="card">
                                <div class="card-header" id="document-fields-@idDocIndex">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapse-document-fields-@idDocIndex" aria-expanded="true"
                                                aria-controls="collapse-document-fields-@idDocIndex">
                                            Document Fields
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapse-document-fields-@idDocIndex" class="collapse" aria-labelledby="document-fields-@idDocIndex">
                                    <div class="card-body">
                                        @if (document.DocumentFields.Media != null)
                                        {
                                            <h5>Media</h5>
                                            <table class="table table-striped table-light">
                                                <tbody>
                                                    <tr>
                                                        <td>ID</td>
                                                        <td>
                                                            <a href="/media/@document.DocumentFields.Media.Id/@Model.SessionId">
                                                                @document.DocumentFields.Media.Id
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                        @if (document.DocumentIdPhoto != null)
                        {
                            <div class="card">
                                <div class="card-header" id="document-photo-@idDocIndex">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapse-document-photo-@idDocIndex" aria-expanded="true"
                                                aria-controls="collapse-document-photo-@idDocIndex">
                                            Document ID Photo
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapse-document-photo-@idDocIndex" class="collapse" aria-labelledby="document-photo-@idDocIndex">
                                    <div class="card-body">
                                        @if (document.DocumentIdPhoto.Media != null)
                                        {
                                            <img class="card-img-top" src="/media/@document.DocumentIdPhoto.Media.Id/@Model.SessionId" />
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                        @if (document.GetTextExtractionTasks().Count > 0)
                        {
                            <div class="card">
                                <div class="card-header" id="text-extraction-tasks-@idDocIndex">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapse-text-extraction-tasks-@idDocIndex" aria-expanded="true"
                                                aria-controls="collapse-text-extraction-tasks-@idDocIndex">
                                            Text Extraction Tasks
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapse-text-extraction-tasks-@idDocIndex" class="collapse" aria-labelledby="text-extraction-tasks-@idDocIndex">
                                    <div class="card-body">
                                        @foreach (var task in document.GetTextExtractionTasks())
                                        {
                                            @await Html.PartialAsync("_Task", task)

                                            if (task.GetGeneratedTextDataChecks().Count > 0)
                                            {
                                                <h5> Generated Text Data Checks </h5>
                                                @foreach (var check in task.GetGeneratedTextDataChecks())
                                                {
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td>ID</td>
                                                                <td>@check.Id</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                }
                                            }
                                            @if (task.GeneratedMedia != null && task.GeneratedMedia.Count > 0)
                                            {
                                                <h5>Generated Media</h5>
                                                @foreach (var media in task.GeneratedMedia)
                                                {
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td>ID</td>
                                                                <td>
                                                                    <a href="/media/@media.Id/@Model.SessionId">
                                                                        @media.Id
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td> Type </td>
                                                                <td> @media.Type </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            @if (document.Pages != null && document.Pages.Count > 0)
                            {
                                foreach (var p in document.Pages)
                                {
                                    var pageIndex = document.Pages.IndexOf(p);
                                    <div class="card">
                                        <div class="card-header" id="document-pages-@pageIndex">
                                            <h4 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapse-document-pages-@idDocIndex-@pageIndex" aria-expanded="true"
                                                        aria-controls="collapse-document-pages-@idDocIndex-@pageIndex">
                                                    Page @(pageIndex + 1)
                                                </button>
                                            </h4>
                                        </div>
                                        <div id="collapse-document-pages-@idDocIndex-@pageIndex" class="collapse"
                                             aria-labelledby="document-pages-@idDocIndex-@pageIndex">

                                            <div class="card-group">
                                                @if (p.Media != null)
                                                {
                                                    <div class="card" style="width: 18rem;">
                                                        <img class="card-img-top"
                                                             src="/media/@p.Media.Id/@Model.SessionId" />
                                                        <div class="card-body">
                                                            <p>Method: @p.CaptureMethod</p>
                                                        </div>
                                                    </div>
                                                }
                                            </div>

                                            @if (p.Frames != null)
                                            {
                                                <div class="card-group">
                                                    @foreach (var frame in p.Frames)
                                                    {
                                                        if (frame.Media != null)
                                                        {
                                                            <div class="card">
                                                                <img class="card-img-top"
                                                                     src="/media/@p.Media.Id/@Model.SessionId" />
                                                                <div class="card-body">
                                                                    <h5 class="card-title">Frame</h5>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        }
        @if (Model.Resources.SupplementaryDocuments.Count > 0)
        {

            <div class="row pt-4">
                <div class="col">
                    <h2>Supplementary Documents</h2>
                </div>
            </div>

            @foreach (var document in Model.Resources.SupplementaryDocuments)
            {
                var supDocNum = Model.Resources.SupplementaryDocuments.IndexOf(document);
                <div class="row pt-4">
                    <div class="col">
                        <h3>@document.DocumentType <span class="badge badge-primary">@document.IssuingCountry</span></h3>
                        <div class="accordion mt-3">
                            @if (document.DocumentFields != null)
                            {
                                <div class="card">
                                    <div class="card-header" id="sup-doc-fields-@supDocNum">
                                        <h4 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#collapse-sup-doc-fields-@supDocNum" aria-expanded="true"
                                                    aria-controls="collapse-sup-doc-fields-@supDocNum">
                                                Document Fields
                                            </button>
                                        </h4>
                                    </div>
                                    <div id="collapse-sup-doc-fields-@supDocNum" class="collapse" aria-labelledby="sup-doc-fields-@supDocNum">
                                        <div class="card-body">
                                            @if (document.DocumentFields.Media != null)
                                            {

                                                <h5> Media </h5>

                                                <table class="table table-striped table-light">
                                                    <tbody>
                                                        <tr>
                                                            <td>ID</td>
                                                            <td>
                                                                <a href="/media/@document.DocumentFields.Media.Id/@Model.SessionId">
                                                                    @document.DocumentFields.Media.Id
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (document.GetTextExtractionTasks().Count > 0)
                            {
                                <div class="card">

                                    <div class="card-header" id="sup-doc-text-extraction-tasks-@supDocNum">

                                        <h4 class="mb-0">

                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#collapse-sup-doc-text-extraction-tasks-@supDocNum" aria-expanded="true"
                                                    aria-controls="collapse-sup-doc-text-extraction-tasks-@supDocNum">
                                                Text Extraction Tasks
                                            </button>
                                        </h4>
                                    </div>
                                    <div id="collapse-sup-doc-text-extraction-tasks-@supDocNum" class="collapse" aria-labelledby="sup-doc-text-extraction-tasks-@supDocNum">

                                        <div class="card-body">

                                            @foreach (var task in document.GetTextExtractionTasks())
                                            {
                                                await Html.PartialAsync("_Task", task);

                                                if (task.GetGeneratedTextDataChecks().Count > 0)
                                                {

                                                    <h5> Generated Text Data Checks </h5>

                                                    @foreach (var check in task.GetGeneratedTextDataChecks())
                                                    {
                                                        <table class="table table-striped">
                                                            <tbody>
                                                                <tr>
                                                                    <td>ID</td>
                                                                    <td>@check.Id</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    }
                                                }
                                                @if (task.GeneratedMedia != null && task.GeneratedMedia.Count > 0)
                                                {

                                                    <h5> Generated Media </h5>

                                                    @foreach (var media in task.GeneratedMedia)
                                                    {
                                                        <table class="table table-striped">
                                                            <tbody>
                                                                <tr>
                                                                    <td>ID</td>
                                                                    <td>
                                                                        <a href="/media/@media.Id/@Model.SessionId">@media.Id</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Type</td>
                                                                    <td>@media.Type</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (document.DocumentFile != null)
                            {

                                <div class="card">

                                    <div class="card-header" id="sup-doc-file-@supDocNum">

                                        <h4 class="mb-0">

                                            <a href="/media/@document.DocumentFile.Media.Id/@Model.SessionId" class="btn btn-link" type="button">
                                                Download File
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            }
                            @if (document.Pages != null && document.Pages.Count > 0)
                            {
                                foreach (var p in document.Pages)
                                {
                                    var pageIndex = document.Pages.IndexOf(p);
                                    <div class="card">
                                        <div class="card-header" id="sup-doc-pages-@supDocNum-@pageIndex">
                                            <h4 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapse-sup-doc-pages-@supDocNum-@pageIndex" aria-expanded="true"
                                                        aria-controls="collapse-sup-doc-pages-@supDocNum-@pageIndex">
                                                    Page @pageIndex
                                                </button>
                                            </h4>
                                        </div>
                                        <div id="collapse-sup-doc-pages-@supDocNum-@pageIndex" class="collapse" aria-labelledby="sup-doc-pages-@supDocNum-@pageIndex">
                                            <div class="card-group">
                                                @if (p.Media != null)
                                                {
                                                    <div class="card" style="width: 18rem;">

                                                        <img class="card-img-top" src="/media/@p.Media.Id/@Model.SessionId" />

                                                        <div class="card-body">
                                                            <p> Method: @p.CaptureMethod</p>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            @if (p.Frames != null && p.Frames.Count > 0)
                                            {
                                                <div class="card-group">
                                                    @foreach (var frame in p.Frames)
                                                    {
                                                        @if (frame.Media != null)
                                                        {

                                                            <div class="card">

                                                                <img class="card-img-top" src="/media/@frame.Media.Id/@Model.SessionId" />

                                                                <div class="card-body">

                                                                    <h5 class="card-title"> Frame </h5>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }

        @if (Model.Resources.ZoomLivenessResources.Count > 0)
        {
            <div class="row pt-4">
                <div class="col">
                    <h2>Zoom Liveness Resources</h2>
                </div>
            </div>

            @foreach (var livenessResource in Model.Resources.ZoomLivenessResources)
            {
                <div class="row pt-4">
                    <div class="col">
                        <table class="table table-striped table-light">
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td>@livenessResource.Id</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="accordion mt-3">
                            @if (livenessResource.Frames != null && livenessResource.Frames.Count > 0)
                            {
                                <div class="card">
                                    <div class="card-header" id="liveness-@livenessResource.Id-frames">
                                        <h3 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#collapse-liveness-@livenessResource.Id-frames" aria-expanded="true"
                                                    aria-controls="collapse-liveness-@livenessResource.Id-frames">
                                                Frames
                                            </button>
                                        </h3>
                                    </div>
                                    <div id="collapse-liveness-@livenessResource.Id-frames" class="collapse" aria-labelledby="liveness-@livenessResource.Id-frames">
                                        <div class="card-group">
                                            @foreach (var frame in livenessResource.Frames)
                                            {
                                                @if (frame.Media != null)
                                                {
                                                    <div class="card">
                                                        <img class="card-img-top" src="/media/@frame.Media.Id/@Model.SessionId" />
                                                        <div class="card-body">
                                                            <h5 class="card-title">Frame</h5>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            }
        }


        @if (Model.Resources.StaticLivenessResources.Count > 0)
        {
            <div class="row pt-4">
                <div class="col">
                    <h2>Static Liveness Resource</h2>
                </div>
            </div>

            @foreach (var livenessResource in Model.Resources.StaticLivenessResources)
            {
                <div class="row pt-4">
                    <div class="col">
                        <table class="table table-striped table-light">
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td>@livenessResource.Id</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="accordion mt-3">
                            @if (livenessResource.image != null)
                            {
                                <div class="card">
                                    <div class="card-header" id="liveness-@livenessResource.Id-frames">
                                        <h3 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#collapse-liveness-@livenessResource.Id-frames" aria-expanded="true"
                                                    aria-controls="collapse-liveness-@livenessResource.Id-frames">
                                                Image
                                            </button>
                                        </h3>
                                    </div>
                                    <div id="collapse-liveness-@livenessResource.Id-frames" class="collapse" aria-labelledby="liveness-@livenessResource.Id-frames">
                                        <div class="card-group">
                                            @if (livenessResource.image.Media != null)
                                            {
                                                <div class="card">
                                                    <img class="card-img-top" src="/media/@livenessResource.image.Media.Id/@Model.SessionId" />
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            }
        }

    }
</div>
