@{
    ViewData["Title"] = "Connect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Yoti.Auth.YotiProfile

<div class="jumbotron">
    @ViewBag.Error
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                @if (Model != null)
                {
                    if (Model.Selfie == null)
                    {
                        <p>@ViewBag.Message</p>
                    }
                    else
                    {
                        <img src="@Model.Selfie.GetBase64URI()" />
                        @Html.ActionLink(
                             linkText: "Download Image",
                             actionName: "DownloadImageFile",
                             controllerName: "Account")
                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            Yoti ID:
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            @Html.DisplayFor(m => m.Id)
        </div>
    </div>
    @if (Model.FullName != null)
    {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                Full Name:
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    string fullName = (string)Model.FullName.GetValue();
                    @Html.DisplayFor(m => fullName);
                }
            </div>
        </div>
    }
    @if (Model.GivenNames != null)
    {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                Given Names:
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    string givenNames = (string)Model.GivenNames.GetValue();
                    @Html.DisplayFor(m => givenNames);
                }
            </div>
        </div>
    }
    @if (Model.FamilyName != null)
    {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                Family Name:
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    string familyName = (string)Model.FamilyName.GetValue();
                    @Html.DisplayFor(m => familyName);
                }
            </div>
        </div>
    }
    @if (Model.MobileNumber != null)
    {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                Mobile Number:
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    string mobileNumber = (string)Model.MobileNumber.GetValue();
                    @Html.DisplayFor(m => mobileNumber);
                }
            </div>
        </div>
    }
    @if (Model.EmailAddress != null)
    {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                Email Address:
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    string emailAddress = (string)Model.EmailAddress.GetValue();
                    @Html.DisplayFor(m => emailAddress);
                }
            </div>
        </div>
    }
    @if (Model.DateOfBirth != null)
    {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                Date of Birth:
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    DateTime? dateOfBirth = (DateTime?)Model.DateOfBirth.GetValue();
                    @dateOfBirth.Value.ToShortDateString();
                }
            </div>
        </div>
    }
    @if (Model.AgeVerified != null)
    {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                Age Verified:
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    string isAgeVerified = Model.AgeVerified.GetValue().ToString();
                    @Html.DisplayFor(m => isAgeVerified);
                }
            </div>
        </div>
    }
    @if (Model.Address != null)
    {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                Address:
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    string address = (string)Model.Address.GetValue();
                    @Html.DisplayFor(m => address);
                }
            </div>
        </div>
    }
    @if (Model.Gender != null)
    {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                Gender:
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    string gender = (string)Model.Gender.GetValue();
                    @Html.DisplayFor(m => gender);
                }
            </div>
        </div>
    }
    @if (Model.Nationality != null)
    {
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                Nationality:
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                @{
                    string nationality = (string)Model.Nationality.GetValue();
                    @Html.DisplayFor(m => nationality);
                }
            </div>
        </div>
    }
    @if (Model.StructuredPostalAddress != null)
    {
        <hr />
        <header>Structured Postal Address:</header>
        foreach (var item in Model.StructuredPostalAddress.GetJsonValue())
        {
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @item.Key
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @item.Value
                </div>
            </div>
        }
    }
</div>