@{
    ViewData["Title"] = "Connect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Yoti.Auth.YotiProfile

<div class="jumbotron">
    @ViewBag.Error
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                @if (Model != null)
                {
                    if (Model.Selfie == null)
                    {
                        <p>@ViewBag.Message</p>
                    }
                    else
                    {
                        <img src="@Model.Selfie.GetBase64URI()" />
                        @Html.ActionLink(
                             linkText: "Download Image",
                             actionName: "DownloadImageFile",
                             controllerName: "Account")
                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2" scope="col">Name</th>
                    <th rowspan="2" scope="col">Value</th>
                    <th colspan="3" scope="col">Anchors</th>
                </tr>
                <tr>
                    <th>S/V</th>
                    <th>Value</th>
                    <th>Subtype</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Yoti ID</th>
                    <td>
                        @Html.DisplayFor(m => m.Id)
                    </td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                @if (Model.GivenNames != null)
                {
                    <tr>
                        @{ var rowSpan = Model.GivenNames.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Given Names</th>
                        <td rowspan="@rowSpan">
                            @{
                                string givenNames = Model.GivenNames.GetValue();
                                @Html.DisplayFor(m => givenNames);
                            }
                        </td>
                        @foreach (var anchor in Model.GivenNames.GetAnchors())
                        {
                        <tr>
                            <td>
                                @{
                                    string givenNameAnchorType = anchor.GetAnchorType().ToString();
                                    @Html.DisplayFor(m => givenNameAnchorType);
                                }
                            </td>
                            <td>
                                @{
                                    string givenNameAnchorValue = string.Join(" , ", anchor.GetValue());
                                    @Html.DisplayFor(m => givenNameAnchorValue);
                                }
                            </td>
                            <td>
                                @{
                                    string givenNameAnchorSubType = anchor.GetSubType().ToString();
                                    @Html.DisplayFor(m => givenNameAnchorSubType);
                                }
                            </td>
                        </tr>
                    }
                        </tr>
                    }
                @if (Model.FamilyName != null)
                {
                    <tr>
                        @{ var rowSpan = Model.FamilyName.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Family Name</th>
                        <td rowspan="@rowSpan">
                            @{
                                string familyName = Model.FamilyName.GetValue();
                                @Html.DisplayFor(m => familyName);
                            }
                        </td>
                        @{
                            foreach (var anchor in Model.FamilyName.GetAnchors())
                            {
                            <tr>
                                <td>
                                    @{
                                        string AnchorType = anchor.GetAnchorType().ToString();
                                        @Html.DisplayFor(m => AnchorType);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorValue = string.Join(" , ", anchor.GetValue());
                                        @Html.DisplayFor(m => AnchorValue);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorSubType = anchor.GetSubType().ToString();
                                        @Html.DisplayFor(m => AnchorSubType);
                                    }
                                </td>
                            </tr>
                        }
                        }
                        </tr>
                    }
                @if (Model.FullName != null)
                {
                    <tr>
                        @{ var rowSpan = Model.FullName.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Full Name</th>
                        <td rowspan="@rowSpan">
                            @{
                                string fullName = Model.FullName.GetValue();
                                @Html.DisplayFor(m => fullName);
                            }
                        </td>
                        @{
                            foreach (var anchor in Model.FullName.GetAnchors())
                            {
                            <tr>
                                <td>
                                    @{
                                        string AnchorType = anchor.GetAnchorType().ToString();
                                        @Html.DisplayFor(m => AnchorType);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorValue = string.Join(" , ", anchor.GetValue());
                                        @Html.DisplayFor(m => AnchorValue);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorSubType = anchor.GetSubType().ToString();
                                        @Html.DisplayFor(m => AnchorSubType);
                                    }
                                </td>
                            </tr>
                        }
                        }
                        </tr>
                    }
                @if (Model.MobileNumber != null)
                {
                    <tr>
                        @{ var rowSpan = Model.MobileNumber.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Mobile Number</th>
                        <td rowspan="@rowSpan">
                            @{
                                string mobileNumber = Model.MobileNumber.GetValue();
                                @Html.DisplayFor(m => mobileNumber);
                            }
                        </td>
                        @{
                            foreach (var anchor in Model.MobileNumber.GetAnchors())
                            {
                            <tr>
                                <td>
                                    @{
                                        string AnchorType = anchor.GetAnchorType().ToString();
                                        @Html.DisplayFor(m => AnchorType);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorValue = string.Join(" , ", anchor.GetValue());
                                        @Html.DisplayFor(m => AnchorValue);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorSubType = anchor.GetSubType().ToString();
                                        @Html.DisplayFor(m => AnchorSubType);
                                    }
                                </td>
                            </tr>

                        }
                        }
                        </tr>
                    }
                @if (Model.EmailAddress != null)
                {
                    <tr>
                        @{ var rowSpan = Model.EmailAddress.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Email Address</th>
                        <td rowspan="@rowSpan">
                            @{
                                string emailAddress = Model.EmailAddress.GetValue();
                                @Html.DisplayFor(m => emailAddress);
                            }
                        </td>
                        @{
                            foreach (var anchor in Model.EmailAddress.GetAnchors())
                            {
                            <tr>
                                <td>
                                    @{
                                        string AnchorType = anchor.GetAnchorType().ToString();
                                        @Html.DisplayFor(m => AnchorType);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorValue = string.Join(" , ", anchor.GetValue());
                                        @Html.DisplayFor(m => AnchorValue);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorSubType = anchor.GetSubType().ToString();
                                        @Html.DisplayFor(m => AnchorSubType);
                                    }
                                </td>
                            </tr>
                        }
                        }
                        </tr>
                    }
                @if (Model.DateOfBirth != null)
                {
                    <tr>
                        @{ var rowSpan = Model.DateOfBirth.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Date Of Birth</th>
                        <td rowspan="@rowSpan">
                            @{
                                DateTime? dateOfBirth = (DateTime?)Model.DateOfBirth.GetValue();
                                @dateOfBirth.Value.ToShortDateString();
                            }
                        </td>
                        @{
                            foreach (var anchor in Model.DateOfBirth.GetAnchors())
                            {
                            <tr>
                                <td>
                                    @{
                                        string AnchorType = anchor.GetAnchorType().ToString();
                                        @Html.DisplayFor(m => AnchorType);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorValue = string.Join(" , ", anchor.GetValue());
                                        @Html.DisplayFor(m => AnchorValue);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorSubType = anchor.GetSubType().ToString();
                                        @Html.DisplayFor(m => AnchorSubType);
                                    }
                                </td>
                            </tr>
                        }
                        }
                        </tr>
                    }
                @if (Model.AgeVerified != null)
                {
                    <tr>
                        @{ var rowSpan = Model.AgeVerified.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Age Verified</th>
                        <td rowspan="@rowSpan">
                            @{
                                string ageVerified = Model.AgeVerified.GetValue().ToString();
                                @Html.DisplayFor(m => ageVerified);
                            }
                        </td>
                        @{
                            foreach (var anchor in Model.AgeVerified.GetAnchors())
                            {
                            <tr>
                                <td>
                                    @{
                                        string AnchorType = anchor.GetAnchorType().ToString();
                                        @Html.DisplayFor(m => AnchorType);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorValue = string.Join(" , ", anchor.GetValue());
                                        @Html.DisplayFor(m => AnchorValue);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorSubType = anchor.GetSubType().ToString();
                                        @Html.DisplayFor(m => AnchorSubType);
                                    }
                                </td>
                            </tr>
                        }
                        }
                        </tr>
                    }
                @if (Model.Address != null)
                {
                    <tr>
                        @{ var rowSpan = Model.Address.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Address</th>
                        <td rowspan="@rowSpan">
                            @{
                                string address = Model.Address.GetValue();
                                @Html.DisplayFor(m => address);
                            }
                        </td>
                        @{
                            foreach (var anchor in Model.Address.GetAnchors())
                            {
                            <tr>
                                <td>
                                    @{
                                        string AnchorType = anchor.GetAnchorType().ToString();
                                        @Html.DisplayFor(m => AnchorType);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorValue = string.Join(" , ", anchor.GetValue());
                                        @Html.DisplayFor(m => AnchorValue);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorSubType = anchor.GetSubType().ToString();
                                        @Html.DisplayFor(m => AnchorSubType);
                                    }
                                </td>
                            </tr>
                        }
                        }
                        </tr>
                    }
                @if (Model.Gender != null)
                {
                    <tr>
                        @{ var rowSpan = Model.Gender.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Gender</th>
                        <td rowspan="@rowSpan">
                            @{
                                string gender = Model.Gender.GetValue();
                                @Html.DisplayFor(m => gender);
                            }
                        </td>
                        @{
                            foreach (var anchor in Model.Gender.GetAnchors())
                            {
                            <tr>
                                <td>
                                    @{
                                        string AnchorType = anchor.GetAnchorType().ToString();
                                        @Html.DisplayFor(m => AnchorType);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorValue = string.Join(" , ", anchor.GetValue());
                                        @Html.DisplayFor(m => AnchorValue);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorSubType = anchor.GetSubType().ToString();
                                        @Html.DisplayFor(m => AnchorSubType);
                                    }
                                </td>
                            </tr>
                        }
                        }
                        </tr>
                    }
                @if (Model.Nationality != null)
                {
                    <tr>
                        @{ var rowSpan = Model.Nationality.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Nationality</th>
                        <td rowspan="@rowSpan">
                            @{
                                string nationality = Model.Nationality.GetValue();
                                @Html.DisplayFor(m => nationality);
                            }
                        </td>
                        @{
                            foreach (var anchor in Model.Nationality.GetAnchors())
                            {
                            <tr>
                                <td>
                                    @{
                                        string AnchorType = anchor.GetAnchorType().ToString();
                                        @Html.DisplayFor(m => AnchorType);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorValue = string.Join(" , ", anchor.GetValue());
                                        @Html.DisplayFor(m => AnchorValue);
                                    }
                                </td>
                                <td>
                                    @{
                                        string AnchorSubType = anchor.GetSubType().ToString();
                                        @Html.DisplayFor(m => AnchorSubType);
                                    }
                                </td>
                            </tr>
                        }
                        }
                        </tr>
                    }
                @if (Model.StructuredPostalAddress != null)
                {
                    <tr>
                        @{ var rowSpan = Model.StructuredPostalAddress.GetAnchors().Count() + 1;}
                        <th rowspan="@rowSpan" scope="row">Structured Postal Address</th>
                        <td rowspan="@rowSpan"></td>
                        @foreach (var anchor in Model.StructuredPostalAddress.GetAnchors())
                        {
                        <tr>
                            <td rowspan="@Model.StructuredPostalAddress.GetJsonValue().Count">
                                @{
                                    string AnchorType = anchor.GetAnchorType().ToString();
                                    @Html.DisplayFor(m => AnchorType);
                                }
                            </td>
                            <td rowspan="@Model.StructuredPostalAddress.GetJsonValue().Count">
                                @{
                                    string AnchorValue = string.Join(" , ", anchor.GetValue());
                                    @Html.DisplayFor(m => AnchorValue);
                                }
                            </td>
                            <td rowspan="@Model.StructuredPostalAddress.GetJsonValue().Count">
                                @{
                                    string AnchorSubType = anchor.GetSubType().ToString();
                                    @Html.DisplayFor(m => AnchorSubType);
                                }
                            </td>
                        </tr>

                    }
                        @foreach (var item in Model.StructuredPostalAddress.GetJsonValue())
                        {
                            <tr>
                                <td>
                                    @item.Key
                                </td>
                                <td>
                                    @item.Value
                                </td>
                            </tr>
                        }
                        </tr>
                    }
            </tbody>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Value</th>
                    <th>S/V</th>
                    <th>Value</th>
                    <th>Subtype</th>
                </tr>
            </thead>
        </table>
    </div>
</div>